/* Reset de márgenes y padding para todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    /* Color de fondo suave */
    color: #333;
    /* Color de texto oscuro */
    line-height: 1.6;
}

/* Header */
header {
    background-color: #006747;
    /* Verde del club */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 250px;
    height: auto;
}

header h1 {
    font-size: 2.5rem;
    margin-top: 10px;
}

/* Estilo de la navegación */
nav ul {
    list-style-type: none;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección principal */
main {
    padding: 20px;
    background-color: #c9b6b6;
}

.columnas {
    margin-bottom: 40px;
}

/* Estilos de las secciones */
section h2 {
    font-size: 2.2rem;
    color: #006747;
    margin-bottom: 20px;
}

section h3 {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos específicos de las secciones importantes */
#historia h2,
#estadio h2,
#colores h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}

#historia p,
#estadio p,
#colores p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* Imagen centrada para la primera imagen */
img.estadio {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

/* Estilos para las imágenes dentro de la sección de colores */
img.camiseta {
    display: block;
    margin: 20px auto;
    width: 25%;
    height: auto;
}

/* Botón y enlaces */
a {
    color: #006747;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #006747;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

/* Estilos de los enlaces internos */
ul {
    padding-left: 20px;
}

ul li {
    font-size: 1.1rem;
    margin-bottom: 5px;
}